<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Book Recommendation</title>
	</head>
	<body>
		<h1 align="center">Book Recommendation</h1>
		<h2 align="center">Welcome to book recommendation website!</h2>
		<h3 align="center">Please click the links below, we will recommend you different kinds of top 10 books.</h3>
		<div align="center"><a href="/rating_top10">by Average Rating</a>&nbsp;&nbsp;<a href="/reading_top10">by Book Reading</a>&nbsp;&nbsp;<a href="/rating_sum_top10">by Overview</a></div>
	</body>
</html>
